<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>

    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main id="main-container">
        <h1 class="heading">TODO LIST APP</h1>
        <hr>
        <form action="/add-task" method="post">
            <div id="form-container">
                <div id="description">
                    <h4>DESCRIPTION</h4>
                    <input type="text" name="description" class="no-outline" placeholder="what you need to do?" required>
                </div>
                <div id="date-category-container">
                    <div id="category">
                        <h4>CATEGORY</h4>
                        <select name="category" class="no-outline" required>
                            <option value="">Choose a category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div id="due-date">
                        <h4>DUE DATE</h4>
                        <input type="date" name="dueDate" class="no-outline" required>
                    </div>
                </div>
                <div id="btn-container">
                    <button type="submit" id="addTask" class="btn">
                        <i class="fa-solid fa-plus"></i>  ADD TASK
                    </button>
                    <button type="button" id="deleteTask" class="btn btnId" >
                        <a href="/delete-task" id="delete-anchor"><i class="fa-solid fa-trash-can"></i>  DELETE TASK</a>
                    </button>
                </div>
            </div>
            
        </form>
        <hr>
        <div id="task-list">
            <% for(let i of task_list){ %>
                <div id="task-container">

                    <div id="checkbox-btn">
                        <input type="checkbox" name="task" class="check-box" id="checkBox" onchange="giveIdToDeleteBtn(`<%=i._id%>`, this)">
                    </div>

                    <div id="content">
                        <h4 id="description-para">
                            <%= i.description %>
                        </h4>
                        <p id="date-para">
                            <i class="fas fa-calendar-days"></i> <%= i.dueDate %>
                        </p>
                    </div>

                    <div id="category-btn">
                        <!-- ejs code for runtime color changing -->
                        <% switch(i.category) {
                            case 'personal':%>
                                <button name="" class="bg-green"><%= i.category %></button>
                                <%  break;
                            case 'work':%>
                                <button name="" class="bg-orange"><%= i.category %></button>
                                <% break;
                            case 'school':%>
                                <button name="" class="bg-royalblue"><%= i.category %></button>
                                <% break;
                            case 'cleaning':%>
                                <button name="" class="bg-purple"><%= i.category %></button>
                                <% break;
                            default: %>
                                <button name="" class="bg-red"><%= i.category %></button>
                                <% break; 
                         } %>
                    </div>
                </div>
                <hr>
            <% } %>
        </div>
    </main>
    
    <script src="/javascript/index.js"></script>
</body>
</html>